<section fxFlex fxLayout fxLayoutAlign="center center">
	<div>
		<div class="example-header-image" mat-card-avatar></div>
		<div>Shiba Inu</div>
		<div>Dog Breed</div>
	</div>
	<img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
	<div>
		<p>
			The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			bred for hunting.
		</p>
	</div>
	<div>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</div>
</section>
