<mat-card>
	<mat-card-content>
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<button (click)="sidenav.toggle()" fxHide.gt-sm fxShow="true" mat-icon-button>
					<mat-icon>menu</mat-icon>
				</button>
				<span>Marius Gabriel</span>
				<span class="menu-spacer"></span>
				<div fxHide.lt-md fxShow="true">
					<a *ngFor="let menu of menus" href="#" mat-button>{{menu.name}}</a>
				</div>
			</mat-toolbar-row>
		</mat-toolbar>

		<mat-sidenav-container fxFlexFill>
			<mat-sidenav #sidenav>
				<mat-nav-list>
					<a *ngFor="let menu of menus" href="{{menu.link}}" mat-list-item>{{menu.name}}</a>
				</mat-nav-list>
			</mat-sidenav>
			<mat-sidenav-content fxFlex fxLayout="column">
				<mat-card fxFlex>
					<mat-card-content>
						<app-about></app-about>
						<app-skills></app-skills>
						<app-projects></app-projects>
						<app-contact></app-contact>
					</mat-card-content>
				</mat-card>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</mat-card-content>
</mat-card>
